.container{
    border: 1px solid #ddd;
    margin-left: 150px;
    width: 800px;
    height: 755px;
    margin-top: 20px;
}
.container li{
    margin-top: 5px;
    border: 1px solid #ddd;
}
.left{
    margin-left: 5px;
    margin-top: 20px;;
    float: left;
    width: 150px;
    height: 100px;
}
.right{
    margin-top: 20px;;
    /* border: 1px solid red; */
    margin-left: 180px;
    width: 600px;
    height: 120px;
    overflow: hidden;
}
.below{
    margin-left: 650px;
}
#one{
    width: 150px;
    height: 100px;
}

#right{
    width: 30px;
    height: 30px;
    float: right;
    border: 1px solid #ddd;
}